<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" />
</head>
<body>

<div role="navigation" id="foo" class="nav-collapse">
    <ul>
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/edit/{{ 0 }}">New Task</a></li>
        <li><a href="/category">Categories</a></li>
        <li><a href="/editcat/{{ 0 }}" >New Category</a></li>
    </ul>
</div>

<div role="main" class="main">
        <h4>Number of tasks: {{ numberOfTasks }}</h4>
        <h5>Your points: {{ points }} ({{ points /50 }} task(-s) finished)</h5>
    <div id="calendar"></div>

        <table class="task">
            <tr class="task">
                <th class="task">ID</th>
                <th class="task">Status</th>
                <th class="task">Name</th>
                <th class="task">Description</th>
                <th class="task">Category</th>
                <th class="task">Author</th>
                <th class="task">Creation Date</th>
                <th class="task"></th>
                <th class="task"></th>

            </tr>
            {% for task in tasks %}
                <tr class="task">
                    <td class="task">{{ task.Id }}</td>
                    <td class="task">{{ task.Status }}</td>
                    <td class="task">{{ task.Name }}</td>
                    <td class="task">{{ task.Description }}</td>
                    <td class="task">{{ task.Category }}</td>
                    <td class="task">{{ task.Author }}</td>
                    <td class="task">{{ task.CreationDate|date("m/d/Y") }}</td>
                    <td class="task"><a id="myLink" href="/edit/{{ task.ID }}" > Edit </a></td>
                    <td class="task"><a id="myLink" href="/delete/{{ task.ID }}" >Delete</a></td>
                    <?php echo 2+2; ?>            </tr>
            {% endfor %}
        </table>
</div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/fullcalendar.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
