{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/login.css') }}" />


<head><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script></head>

<div class="wrapper">
<form action="{{ path('login') }}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Please login</h2>
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-lg btn-primary btn-block">login</button>
    <div class="g-recaptcha"data-sitekey="6LfSYCEUAAAAAO3P4akQjAY8DAlSQ1UdWHQe5lIv"></div>
    <a href="/register">Not a user? Register here</a>
    {% if error %}
        <div class="alert alert-danger">
            <strong>Could not log in</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
</form>

</div>